<!doctype html>
<html lang="en" ng-app="smokiesHikerGuideApp">
<head>
    <meta charset="utf-8">
    <title>Smokies Hiker's Guide</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="HikerGuideCtrl">

<div class="col-md-2">
    Search: <input ng-model="query">
    Sort By:
    <select ng-model="orderProp">
        <option value="length">Shorter</option>
        <option value="-length">Longer</option>
        <option value="difficulty">Easier</option>
        <option value="-difficulty">Harder</option>
    </select>

    <br>

    <md-content>
        <section layout="column">
            <div class="label">Good For</div>
            <md-checkbox ng-repeat="(goodfor, state) in filters.goodfor"
                         ng-model="filters.goodfor[goodfor]">
                <div layout="row" layout-align="space-between start">
                    <img ng-src="svg/{{goodfor}}.svg" style="width: auto; height: 25px;">

                    <div>{{goodfor}}</div>
                </div>
            </md-checkbox>
        </section>

        <br>

        <section layout="column">
            <div class="label">Features</div>
            <md-checkbox ng-repeat="(feature, state) in filters.features"
                         ng-model="filters.features[feature]">
                <div layout="row" layout-align="space-between start">
                    <img ng-src="svg/{{feature}}.svg" style="width: auto; height: 25px;">

                    <div>{{feature}}</div>
                </div>
            </md-checkbox>
        </section>

        <br>

        <section layout="column">
            <div flex class="label">Length</div>
            <div layout="row" layout-align="space-between center">
                <div>
                <input type="number" step="0.5" name="Minimum"
                       ng-model="filters.length.minimum" min="1"
                       max="{{filters.length.maximum}}">
                </div>

                <div>to</div>

                <div>
                <input type="number" step="0.5" name="Maximum"
                       ng-model="filters.length.maximum"
                       min="{{filters.length.minimum}}" max="30">
                </div>
            </div>
        </section>

        <br>

        <section layout="column">
            <div flex class="label">Difficulty</div>
            <div layout="row" layout-align="space-between center">
                <div>
                    <input type="number" step="0.5" name="Minimum"
                           ng-model="filters.difficulty.minimum" min="1"
                           max="{{filters.difficulty.maximum}}">
                </div>

                <div>to</div>

                <div>
                    <input type="number" step="0.5" name="Maximum"
                           ng-model="filters.difficulty.maximum"
                           min="{{filters.difficulty.minimum}}" max="5">
                </div>
            </div>
        </section>

    </md-content>

    <br>

    <div class="md-body-1">Filters:</div>
    {{filters | json}}

</div>

<div>
    <md-content>
        <md-card ng-repeat="hike in hikes | filter:filterHikes | orderBy:orderProp">
            <h2 class="md-title">{{hike.name}}</h2>

            <div layout="row" layout-align="start start">
                <div layout="column">
                    <div class="row-md-2">
                        <b>Type:</b> {{hike.type}}
                    </div>
                    <div class="row-md-2">
                        <b>Length:</b> {{hike.length}} mi
                    </div>
                    <div class="row-md-2">
                        <b>Difficulty:</b> {{hike.difficulty}}
                    </div>
                    <div layout="row">
                        <img ng-repeat="goodfor in hike.goodfor"
                             ng-src="svg/{{goodfor}}.svg"
                             style="width: auto; height: 25px;">
                    </div>
                    <div layout="row">
                        <img ng-repeat="feature in hike.features"
                             ng-src="svg/{{feature}}.svg"
                             style="width: auto; height: 25px;">
                    </div>
                </div>

                <div flex="5"></div>

                <div flex="auto">
                    {{hike.description}}
                </div>

            </div>
        </md-card>
    </md-content>
</div>


<!--<pre>{{hikes | json}}</pre>-->

</body>
</html>
