<!doctype html>
<html lang="en" ng-app="smokiesHikerGuideApp">
<head>
    <meta charset="utf-8">
    <title>Smokies Hiker's Guide</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="HikerGuideCtrl">

<div class="gridListdemoBasicUsage">
    <md-content>
        <md-list>
            <md-list-item ng-repeat="hike in hikes" class="md-3-line">
                <div class="md-list-item-text">
                    <h3>{{hike.name}}</h3>
                    <p>{{hike.type}}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>

<!--<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            Search: <input ng-model="query">

        </div>


            <table border="2">
                <tr>
                    <td>Name</td>
                    <td>Type</td>
                    <td>Length</td>
                    <td>Good For</td>
                    <td>Description</td>
                </tr>
                <tr ng-repeat="hike in hikes | filter:query">
                    <td>{{hike.name}}</td>
                    <td>{{hike.type}}</td>
                    <td>{{hike.length}}</td>
                    <td>
                        {{ hike.goodfor.join(', ')}}
                    </td>
                    <td>{{hike.description}}</td>
                </tr>
            </table>

    </div>
</div>
-->

<pre>{{hikes | json}}</pre>
</body>
</html>
